{% extends "registration/base.html" %}
{% block body_block %}
    {% load static %}
<link rel="stylesheet" href="{%  static "css/login.css" %}"/>

<div class="jumbotron">

    <h1>Please Login</h1>

    <form action="{% url "movie_search:user_login" %}" method="POST">

        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter username">

        <label for="password">Password:</label>
        <input type="password" name="password">

        <input type="submit" value="Log in">
    </form>
</div>
{% endblock %}